name: Deploy to cPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.CPANEL_SSH_PRIVATE_KEY }}

      - name: Push to cPanel
        run: |
          git remote add cpanel  ssh://sparznqj@sparkhub.llc:21098/home/sparznqj/repos/pet-library-build.git
          git push cpanel main
